#header {
  background-color: #cccfdd;
  height:100px;
  padding:12px;
}

#header h1 { padding-left: 112px; padding-top: 12px; font-size: 36pt;}
#header #logo { float: left;}

#header a:link {text-decoration: none; color: black; background: transparent;}
#header a:visited {text-decoration: none; color: black; background: transparent;}
#header a:active {text-decoration: none; color: black; background: transparent;}
#header a:hover {text-decoration: none; color: black; background: transparent;}

#footer { margin-top: 48pt; }
#footer p { font-size: smaller; text-align: center;}

.projects_table a { text-decoration: none; color: #666; }
.projects_table a:visited { text-decoration: none; color: #666; }
.projects_table a:hover { text-decoration: none; color: #fff; background-color:#666; }

.hidden {display:none;}

.row-name { font-weight: bold; }
.column-data { text-align: right; }

.mytable {border: 1px solid #000; border-collapse:collapse; margin: 12pt;}
.mytable td { border-left: 1px solid #000; padding: 3pt 12pt;}
.mytable th { background: #ddd; border: 1px solid #000;}

.img-table td { padding-bottom: 36pt; padding-left: 12pt;}
.img-table img { display: block; margin: 10pt auto;}

.api_item { padding-left: 24pt; border-top: 1px solid #aaa; margin-top: 18pt;}
.api_item h3 { text-indent: -12pt; }