<h1>Matrix</h1>
<p>A 2 dimensional <i>n</i> x <i>m</i> grid of floating point numbers. Examples:
  gene expression, protein abundance, p-values.</p>
<h2>Example</h2>
<pre class="gaggle-json"><%=h @example -%></pre>
<p>
  <a href="/gaggle/<%=h @example_id %>">display</a> |
  <a href="/documents/<%=h @example_id %>">view JSON</a>
</p>
