<h1>Namelist</h1>
<p>A list of identifiers, for example gene names, protein names, NCBI entrez
  accession numbers, GO terms.</p>
<h2>Example</h2>
<pre class="gaggle-json"><%= @example -%></pre>

<p><b>name</b>: A name for this object, for example "Genes involved in motility".</p>
<p><b>version</b>: (optional) version of the Gaggle-JSON protocol</p>
<p><b>type</b>: The type of object; "namelist"</p>
<p><b>metadata</b>: A hash holding arbitrary key/value pairs. Fields might include:
  <ul>
    <li>species</li>
    <li>identifier type</li>
    <li>source (broadcast from application)</li>
    <li>destination (broadcast to target application(s))</li>
  </ul>
</p>
<p><b>gaggle-data</b>: A list containing one or more strings, usually identifiers of genes, proteins, etc.</p>

<p>
  <a href="/gaggle/<%= @example_id %>">display</a> |
  <a href="/documents/<%= @example_id %>">view JSON</a>
</p>
