<h1>Namelist</h1>
<p>A list of identifiers, for example gene names, protein names, NCBI entrez
  accession numbers, GO terms.</p>
<h2>Example</h2>
<pre class="gaggle-json"><%=h @example -%></pre>
<p><a href="/documents/<%=h @example_id %>">/documents/<%=h @example_id %></a></p>
