<h1>Network</h1>
<p>A graph consisting of nodes and edges, which can have arbitrary attributes
  assigned to them. Examples: protein-protein interaction, gene regulatory
  network.</p>
<h2>Example</h2>
<pre class="gaggle-json"><%=h @example -%></pre>
<p><a href="/documents/<%=h @example_id %>">/documents/<%=h @example_id %></a></p>
