<h1>Table</h1>
<p>A set of columns, where each column holds a single type of data
  (string, integer, float, boolean) and the columns are the same length.
  Roughly equivalent to a table in a SQL database or a data.frame in R.</p>
<h2>Example</h2>
<pre class="gaggle-json"><%=h @example -%></pre>
<p>
  <a href="/gaggle/<%=h @example_id %>">display</a> |
  <a href="/documents/<%=h @example_id %>">view JSON</a>
</p>
