<h1>About</h1>
<p>Gaggle-JSON is an application that demonstrates a JSON-based protocol for the
  <a href="http://gaggle.systemsbiology.org">Gaggle</a> integration framework. Gaggle
  achieves interoperability among bioinformatics tools based on message passing in which
  data is represented by a handful of data structures - list, matrix, network,
  tuple, and table.</p>

<h2>More Information</h2>

<ul>
  <li><a href="/help">help</a></li>
  <li><a href="/todo">todo</a></li>
  <li><a href="/readme">readme</a></li>
</ul>

