

<table class="img-table">
  <tr>
    <td><img src="/images/heatmap_with_gene_list.png" width="56" height="100"></img></td>
    <td>
      <h2>Gene list</h2>
      <p>(namelist) A list of gene identifiers. Type of identifier can optionally be specified in
      metadata.</p>
    </td>
  </tr>
  <tr>
    <td><img  src="/images/microarray.png" width="100" height="86"></img></td>
    <td>
      <h2>Microarray data</h2>
      <p>(matrix) Microarray data is represented by a matrix of intensity or relative measurements.
        Each row corresponds to a gene or locus on the genome. Each column is expression
        under a given condition.</p>
      </td>
  </tr>
  <tr>
    <td><img  src="/images/motif.jpg" width="160" height="140"></img>
    </td>
    <td>
      <h2>Motif (PSSM)</h2>
      <p>(matrix) A position-specific scoring matrix (PSSM) is a matrix where the value at
      m<span style="font-size:70%;font-style:italic;">i,j</span> is proportional
      to the probability of observing symbol <i>i</i> at position <i>j</i> in the motif.</p>
    </td>
  </tr>
  <tr>
    <td rowspan="2" style="padding-bottom: 0;"><img style="float: right" src="/images/features.png" width="200" height="120"></img></td>
    <td style="padding-bottom: 0;">
      <h2>Genome Annotation</h2>
      <p>(table) A table containing a row for each feature (eg. gene) and columns containing data
      such as position on the genome (sequence, strand, start, end), name, symbol, etc.</p>
    </td>
  </tr>
  <tr>
    <td>
      <h2>ChIP-chip</h2>
      <p>(table) A table of protein-DNA binding sites with columns for position, binding strength,
      and confidence scores.</p>
    </td>
  </tr>
  <tr>
    <td><img src="/images/bicluster.jpg" width="200" height="156"></img></td>
    <td>
      <h2>Bicluster</h2>
      <p>(tuple) A set of genes coregulated under a specific set of conditions. A tuple
      combines two lists together - a list of genes and a list of conditions.</p>
    </td>
  </tr>
  <tr>
    <td><img src="/images/mmp_bicluster_0136.png" width="120" height="160"></img></td>
    <td>
      <h2>Gene regulatory network</h2>
      <p>(network) A visualization of transcription factors and the genes whose transcription they control
      with combiners (AND, OR).</p>
    </td>
  </tr>
  <tr>
    <td><img src="/images/string_network_small.png"></img></td>
    <td>
      <h2>Protein-protein interactions</h2>
      <p>(network) A network in which edges signify interaction between proteins.</p>
    </td>
  </tr>
  <tr>
    <td><img src="/images/TPP.png"></img></td>
    <td>
      <h2>Proteomics</h2>
      <p>(matrix) Quantitative mass spectrometry data is a matrix of values where the rows are peptides.</p>
    </td>
  </tr>
  <tr>
    <td><img src="/images/sequencing.gif" width="60" height="60"></img></td>
    <td>
      <h2>Other data</h2>
      <p>Biological data types we'd like to explore further with the help of domain experts:
        sequence, short-read data (ngs), metagenomics, etc.</p>
    </td>
  </tr>
</table>
















