<h2>Disabled</h2>

<div style="border: 1px #FF0000 solid; margin: 24pt; padding: 12pt; background: #FFEEEE">
<h3 style="color: #FF0000;">Disabled</h3>
<p>Parts of the gaggle-json app have been disabled for the time being. It's purpose was to demonstrate
  the <a href="/documentation">JSON data structures</a> and a <a href="/projects_api">ReSTful API</a>,
  while also experimenting with MongoDB. It served it's purpose as a demo and may or may not be
  brought back in the future.</p>
<p>Source can be found at <a href="https://github.com/cbare/gaggle-json">github.com/cbare/gaggle-json</a>.</p>
</div>
