<h1>Help</h1>

<p>The web application you're looking at has two purposes.</p>
<ul>
  <li>document the JSON format for Gaggle data structures</li>
  <li>store and retrieve collections of Gaggle data objects</li>
</ul>

<p>The Gaggle data types form the basis for exchanging data between
  bioinformatics applications, enabling independently developed tools to be
  used together as a loosely connected suite.</p>

<p>A <a href="/projects">project</a> can be used as a place to store a set of data structures that are
  part of an analysis. This might be a set of genes, measurements of transcription,
  and related interaction networks, metabolic pathways, or regulatory networks.
  Intermediate steps in an analysis could be saved to allow further exploration
  later.</p>

<h2>For Programmers</h2>
<p><a href="/curl">Testing with curl</a></p>