<h2>Projects</h2>
<p>A project is a collection of stored data structures. After creating a project, a
  user can then broadcast data into the project over a <a href="/projects_api">ReSTful API</a>.</p>
<p>See <a href="/projects">project index</a>.</p>
