<h2>Whiteboard</h2>
<p>The whiteboard application demonstrates the <a href="/documentation">JSON data structures</a>.
  Data objects can be organized into projects and accessed through a
  <a href="/projects_api">ReSTful API</a>.</p>
<p>For the time being, data objects are limited to 4MB.</p>
<p>See <a href="/projects">project index</a>.</p>
